
<!-- <h1>HOmE PagE</h1> -->
<br><br><br>

<div class="view"
style="background-image: url('assets/images/gp.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="mask rgba-gradient align-items-center">
    <div class="container">
        <div class="row">
            <div class="container">
                <h2 class="text-light">Information About the Employee....</h2><br>
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="assets\images\avtr1.png" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. For more info about John Doe, click on the below buttons.</p>
                    <a routerLink="/about" class="btn btn-primary">See Profile</a> <br><br>
                    <a routerLink="/contactUs" class="btn btn-primary">Contact</a>
                  </div>
                </div>
              </div>
            <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            </div>
        </div>
    </div>
</div>
</div>

  <br><br>