

<div class="container">
<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">For Contact Details.</h2>

    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Employee name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Employee Id</label>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Why you want this persons contact details."></textarea>
                        </div>

                    </div>
                </div>
            </form>

            <div class="text-center text-md-left">
               <br> <a routerLink="/sendmsg" class="btn btn-primary">Send</a>
            </div>
            <div class="status"></div>
        </div>
    </div>

</section>
</div>